<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="54108HamedSN.FarsiNews" Publisher="CN=A60B89C9-749B-4DEF-8454-E08D3A5B907C" Version="1.1.0.4" />
  <Properties>
    <DisplayName>Farsi News</DisplayName>
    <PublisherDisplayName>NeshatSa</PublisherDisplayName>
    <Logo>Assets\logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Persian_News.App">
      <m2:VisualElements DisplayName="Farsi News" Square150x150Logo="Assets\icon.png" Square30x30Logo="Assets\logoSmall.png" Description="Persian News" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="اخبار">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>